body {
 font-family: "Unica One", cursive;
}
h1,
h3,
h4 {
 text-align: center;
 font-size: 20px;
 font-weight: bolder;
}

h1 {
 height: 20px;
}

h2 {
 font-size: 14px;
 font-weight: 18px;
 margin-bottom: 10px;
 text-align: center;
}

h3 {
 display: inline;
 font-size: 38px;
 line-height: 1.3em;
}

h4 {
 margin: 0;
}

form {
 margin: 30px auto;
 bottom: 0 auto 15px;
 text-align: center;
 vertical-align: bottom;
}

image {
 margin: 0;
}

.container,
.card-week,
.col-3 {
 padding: 0;
}

.container {
 border: 0;
 margin: 60px auto;
 text-align: center;
}

.largest {
 padding: 20px 20px 10px 20px;
}

.card-main {
 border: 1px solid #84a9ac4d;
 background: linear-gradient(0.5turn, #f1f3f3, #c1d2da, #f1f3f3);
 border-radius: 4px;
 display: block;
 margin: 0 auto;
}

.card-left {
 margin: 0;
}

a {
 color: #248faf;
}

.middleLeft {
 text-align: right;
}

.middleRight {
 text-align: left;
}

.weatherSystem {
 color: black;
 font-size: 13px;
 margin: 0;
 padding-top: 20px;
 text-align: left;
}

.units .active {
 color: black;
 cursor: default;
}

.units .active:hover {
 text-decoration: none;
}

.card-week {
 font-size: 13px;
 line-height: 2.5em;
 vertical-align: -webkit-baseline-middle;
 margin: 0;
 padding: 0;
}

.col-6 {
 margin: 0;
 padding: 0;
}

.mini-emoji {
 height: 28px;
 text-align: center;
}

.mini-time {
 font-size: 16px;
 text-align: right;
}

.mini-temp {
 font-size: 16px;
 text-align: left;
}

.btn {
 background-color: #3b6978;
 border: 1px solid #3b6978;
 box-shadow: 2px 2px 2px rgb(158, 157, 157);
 vertical-align: baseline;
}

.footer {
 color: rgb(124, 124, 124);
 font-size: 13px;
 font-weight: 580;
 text-align: center;
}

.linkToGithub {
 color: #387d94;
 text-decoration: underline;
}

.weatherSystem .units {
 line-height: -30px;
 position: relative;
 top: -12px;
}

#icon {
 color: rgba(255, 230, 0, 0.849);
 font-size: 45px;
 text-align: center;
}

#city {
 height: 24px;
 text-transform: capitalize;
}

#celsius-link:hover {
 text-decoration: none;
}

#fahrenheit-link:hover {
 text-decoration: none;
}
